.spinner {
  width: 200px;
  margin: auto;
  display: block;
}

.not-found {
  background-color: #35B992;
  width: 50%;
  margin: auto;
  display: block;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
